body {
	background-color: rgba(150, 184, 196, .7);
  font-family: 'NunitoSans', sans-serif;
}

.nav {
	background-color: rgba(7, 28, 35, .7);
	background-image: none;
	text-align: center;
	box-shadow: 2px 2px 5px rgba(1,1,1,.7);
	border: none !important;
}

.navbar-default .navbar-brand {
	color: white;
	align-content: center;
}

.center-nav  {
	font-weight: bolder;
	font-size: 1.75em;
	position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
	align-items: center;
	align-content: center;
	margin-bottom: 0px;
}

.center {
	font-weight: bold;
	text-align: center;
}

.container {
	margin-top: 0px;
}

.item-name {
	display: inline-block;
}

.delete-button {
	background-color: rgba(228, 125, 125, 1);
	box-shadow: 2px 2px 5px rgba(1,1,1,.6);
	font-weight: 500;
}

.delete-button:hover {
	background-color: rgba(217, 69, 69, 1);
}

.newItem-button {
	background-color: rgba(18, 67, 46, .7);
	box-shadow: 2px 2px 5px rgba(1,1,1,.6) !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.newItem-button:hover {
	background-color: rgba(12, 45, 31, .8);
}

.hover:hover {
	color: rgba(217, 69, 69, .9);
	background-image: none;
}

form {
	padding-top: 0px;
}

h3 {
	padding-top: 10px;
}

.tableTitle {
	background-color: rgba(83, 245, 175, .7);
	border-radius: 5px;
	box-shadow: 2px 2px 10px rgba(1,1,1,.7);
}

.table {
	margin-bottom: 3px;
	margin-top: 0px;
}
