body {
	 /*background-color: red; */
	/*background-color: rgba(169, 250, 215, 1);*/
	background-color: rgba(186, 251, 223, .7);
  font-family: 'NunitoSans', sans-serif;
}

.nav {
	background-color: rgba(186, 251, 223, 1);
	/*background-color: gray;*/
	text-align: center;
}

.navbar-default .navbar-brand {
	color: rgba(1, 1, 1, .8);
	align-content: center;
}

.center-nav  {
	font-weight: bolder;
	font-size: 2em;
	position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
	align-items: center;
	align-content: center;
	/*font-size: 100em;*/
}

.center {
	font-weight: bold;
	text-align: center;
}



.delete-button {
	background-color: rgba(228, 125, 125, 1);
	/*background-image: none;*/
	/*font-size: 100em;*/
	font-weight: 500;
}

.delete-button:hover {
	background-color: rgba(217, 69, 69, 1);
}

.newItem-button {
	background-color: rgba(18, 67, 46, .7);
}

.newItem-button:hover {
	background-color: rgba(12, 45, 31, .8);
}

.hover:hover {
	color: rgba(217, 69, 69, .9);
	background-image: none;
}

.tableTitle {
	/*background-color: rgb(237, 254, 247);*/
	/*background-color: rgba(169, 250, 215, 1);*/
	background-color: rgba(83, 245, 175, .7);
}
